@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: Inter;
  background-color: #fff;
  color: #333;
}

.container {
  width: 80%;
  max-width: 1920px;
  max-height: 8445.69px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #ff6600;
  margin-bottom: 20px;
}

.calendar .calendar-content {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: start;
  position: relative;
  width: 350px;
  margin: 0 auto;
  /* Navigation */
}
.calendar .calendar-content .month:nth-of-type(1) {
  display: block;
}
.calendar .calendar-content .month .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 10px;
}
.calendar .calendar-content .month .calendar-header .prev, .calendar .calendar-content .month .calendar-header .next {
  cursor: pointer;
  font-size: 1.5em;
  color: #ff6600;
}
.calendar .calendar-content .month .calendar-header .month-year {
  font-size: 1.2em;
}
.calendar .calendar-content .month .calendar-weekdays {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.calendar .calendar-content .month .calendar-weekdays span {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #ff6600;
}
.calendar .calendar-content .month .calendar-days {
  display: flex;
  flex-wrap: wrap;
}
.calendar .calendar-content .month .calendar-days span {
  flex: 1 0 14.28%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 2px 0;
  transition: background-color 0.3s, color 0.3s;
}
.calendar .calendar-content .month .calendar-days span.highlight {
  background-color: #ffd700;
  color: #fff;
}
.calendar .calendar-content .month .calendar-days span:hover {
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}
.calendar .calendar-content:hover {
  transform: scale(1.05);
}
.calendar .calendar-content input[type=radio] {
  display: none;
}
.calendar .calendar-content input[type=radio]:nth-of-type(1):checked ~ .month-navigation + #jan, .calendar .calendar-content input[type=radio]:nth-of-type(2):checked ~ .month-navigation + #feb {
  display: block;
}
.calendar .calendar-content .month-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
}
.calendar .calendar-content .month-navigation label {
  cursor: pointer;
  font-size: 1.5em;
  color: #ff6600;
  padding: 0 10px;
}
.calendar .calendar-content .month-navigation label:hover {
  color: #cc5200;
}

.faq {
  margin-top: 40px;
}
.faq .faq-item {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.faq .faq-item .faq-question {
  display: block;
  padding: 15px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}
.faq .faq-item .faq-question:hover {
  background-color: white;
}
.faq .faq-item .faq-question::after {
  content: "+";
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.faq .faq-item input[type=radio] {
  display: none;
}
.faq .faq-item input[type=radio]:checked + .faq-question::after {
  transform: rotate(45deg);
}
.faq .faq-item input[type=radio]:checked ~ .faq-answer {
  max-height: 1000px;
  padding: 15px;
}
.faq .faq-item .faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}/*# sourceMappingURL=styles.css.map */